<div id="navigation" ng-controller="navCtrl">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{ username }}</span>

            <div class="dropdown" uib-dropdown >
                <a uib-dropdown-toggle href="#">
                    <small class="text-muted">Admin</small>
                </a>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav metismenu" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
        <li>
            <a><span class="nav-label">Payments</span></a>
        </li>
        <li>
            <a><span class="nav-label">Users</span></a>
        </li>
        <li>
            <a><span class="nav-label">Settings</span></a>
        </li>
        <li ng-click="logOff()">
            <a><span class="nav-label">Logoff</span></a>
        </li>
    </ul>
</div>