<div id="navigation">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Username</span>

            <div class="dropdown" uib-dropdown >
                <a uib-dropdown-toggle href="#">
                    <small class="text-muted">Founder of App <b class="caret"></b></small>
                </a>
                <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                    <li><a>Item</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav metismenu" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
    </ul>
</div>