<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="dashCtrl">

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2>
                    {{ accountname }}
                </h2>
            </div>
            <div growl></div>
            <hr>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Blockchain Activity (GoChain Mainnet)
                        </div>
                        <div class="panel-body">
                            <div>
                                <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                                </canvas>
                                <p>Number of Blockchain Updates by Day<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel stats">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Automated Payments
                        </div>
                        <div class="panel-body h-200 list">
                            <div class="stats-title pull-left">
                                <h4>RPA Task Generated Payments (last <code>30</code> days)</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="pe-7s-credit fa-4x"></i>
                            </div>
                            <div class="m-t-xl">
                                <small>
                                    Payments transacted with networked partners in <code>$GO</code> and <code>$USD</code>
                                </small>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-lg-6">
                                    <h3 class="no-margins font-extra-bold text-success">$GO: 1,300,102</h3>
                                    <div class="font-bold">%23 <i class="fa fa-level-up text-success"></i></div>
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="no-margins font-extra-bold text-success">$USD: 17,650</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hpanel" ng-controller="dashBlockWritesTableCtrl">
                    <div class="panel-heading">
                        <div class="pull-right"> 
                            <a class="btn btn-link btn-xs" ng-click="refreshTable()">Refresh</a>
                            <a class="btn btn-info btn-xs" ng-click="gotoAddBlockWrite()">Add to Chain</a>
                            <a class="btn btn-primary btn-xs" ng-click="displayBlock()">View Block</a>
                        </div>
                        Dashboard information and statistics<span ng-show="config.refreshing"><code>Loading...</code></span>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div>
                                <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
