<div ng-controller="writeManualBlockCtrl">
    <div class="row">
        <div class="col-md-12">
            <div growl></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt" data-context="blockwrite_manual_add.html">
                    Notarize Content to the Blockchain
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Event</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="block.event" required
                                    ng-focus="bgTitle=true" ng-blur="bgTitle=false"
                                    ng-style="bgTitle ? {'background-color': config.highlight} : {}">
                                <span class="help-block m-b-none">Enter a description of the event or update</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Network</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="block.network" required ng-focus="bgStatus=true"
                                    ng-blur="bgStatus=false"
                                    ng-style="bgStatus ? {'background-color': config.highlight} : {}">
                                    <option value="None">-- Select Chain Network --</option>
                                    <option value="gochain_testnet">GoChain Testnet</option>
                                    <option value="gochain_mainnet">GoChain Mainnet</option>
                                    <option value="gochain_mainnet">Ethereum TestNet</option>
                                </select>
                                <span class="help-block m-b-none">Select the blockchain network</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="block.content">Text Content</label>
                            <div class="col-sm-10">
                                <textarea rows="6" cols="50" class="form-control input-sm"
                                    id="block.content" ng-model="block.content"
                                    ng-focus="bgContextText=true" ng-blur="bgContextText=false"
                                    ng-style="bgContextText ? {'background-color': config.highlight} : {}"></textarea>
                                <span class="help-block m-b-none">Enter text you would like to be notarized to the blockchain</span>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="myFile">Content File</label>
                            <div class="col-sm-10">
                                <input type="file" for="myFile" file-model="myFile" ng-focus="bgFile=true"
                                    ng-blur="bgFile=false"
                                    ng-style="bgFile ? {'background-color': config.highlight} : {}">
                                <p class="help-block">Upload a file to be hashed and notarized to the blockchain</p>
                                <p ng-show="config.isProcessing">
                                    <small class="text-danger font-bold">Uploading and processing...</small>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Data</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="block.meta_data_01"
                                    ng-focus="bgCustomLink=true" ng-blur="bgCustomLink=false"
                                    ng-style="bgCustomLink ? {'background-color': config.highlight} : {}">
                                <p class="help-block">Optionally enter additional text to be hashed and notarized</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Customer Reference</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="block.customer_ref"
                                    ng-focus="bgCustomerRef=true" ng-blur="bgCustomerRef=false"
                                    ng-style="bgCustomerRef ? {'background-color': config.highlight} : {}">
                                <p class="help-block">Optionally enter a customer reference value (e.g. account number, invoice number)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-3">
                                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                                <button class="btn btn-primary" ng-click="save()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>